<IfModule mod_rewrite.c>
    RewriteEngine On

    # Mencegah akses ke file sensitif
    <FilesMatch "^\.env|composer\.(json|lock)|package(-lock)?\.json|phpunit\.xml|vite\.config\.js">
        Order allow,deny
        Deny from all
    </FilesMatch>

    # Mencegah akses ke folder tersembunyi (seperti .git)
    RewriteRule ^(\.git|storage|tests|app|bootstrap|config|database|resources|vendor) - [F,L]

    # Redirect semua request ke folder public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# Mencegah directory listing
Options -Indexes
